.item-container {
  position: relative;
  float: right;
}

.container {
  padding-top: 20px;
}

.selected-item {
  position: absolute;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-description {
  float: left;
}

.hidden {
  display: none;
}

#cart-icon {
  position: fixed;
  padding: 10px;
  right: 25px;
  top: 15px;
}

#return-button {
  margin-top: 20px;
}

#add-to-cart {
  float: right;
}
