.item-container {
  position: relative;
  float: right;
}

.container {
  padding-top: 20px;
}

.selected-item {
  position: absolute;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
