.item-container {
  position: relative;
  float: right;
}

.container {
  padding-top: 61px;
}

.selected-item {
  position: absolute;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.item-description {
  float: left;
}

.item-name {
  font-weight: 400;
  font-size: 16px;
}

.item-price {
  text-align: center;
}

.hidden {
  display: none;
}

.cart-icon-container {
  position: fixed;
}

#cart-icon {
  padding: 10px;
  float: right;
  margin-right: 45px;
  margin-top: 15px;
}

#return-button {
  margin-top: 20px;
  float: left;
}

#add-to-cart {
  float: right;
}

h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

#total-price {
  font-size: 16px;
}

#checkout-button {
  float: right;
}

.btn-warning {
  float: right;
}

/*
#checkout {
  background-color: #111;
  opacity: 0.75;
}

.input-group-addon {
  width: 140px;
}
*/
